{% extends "layout.html" %}
{% block body %}
  {% if current_user.is_active %}
    <form action="{{ url_for('menus.update') }}" method=post class=add-entry>
      <dl>
        <dt>Title:
        <dd><input type=text size=30 name=title>
        <dd><input type=submit value=Share>
      </dl>
    </form>
  {% endif %}
  <ul class=entries>
  {% for menu in menus %}
    <li><h2>{{ menu.title }}</h2></li>
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em>
  {% endfor %}
  </ul>
{% endblock %}