body            { font-family: sans-serif; background: #eee; }
a, h1, h2       { color: #377BA8; }

.page           { margin: 2em auto; width: 35em; border: 5px solid #ccc;
                  padding: 0.8em; background: white; }
.entries        { list-style: none; margin: 0; padding: 0; }
.entries div     { margin: 0.8em 1.2em; }
.entries .data {font-size:1.2em; color: #377BA8; font-weight: bold;}
.metanav        { text-align: right; font-size: 0.8em; padding: 0.3em;
                  margin-bottom: 1em; background: #fafafa; }
.flash          { background: #CEE5F5; padding: 0.5em;
                  border: 1px solid #AACBE2; }
.error          { background: #F0D6D6; padding: 0.5em; }


li #edit-form, li.editing .detail{
	display: none;
}

li.editing #edit-form{
	display: block;
}