{% extends "layout.html" %}
{% block body %}
  {% if current_user.is_active %}
    <form method=post class=add-entry>
      <dl>
        <dt>Title:
        <dd><input type=text size=30 name=title>

        <dd><input type=submit value=Add>
      </dl>
    </form>
  {% endif %}
  <ul class=entries>
  {% for menu in menus %}
      <div>
        <span class="data">{{ menu.title }}</span>
        <span><a href="#">Delete</a></span>
      </div>
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em>
  {% endfor %}
  </ul>
{% endblock %}