<html !DOCTYPE>

<title>Kitch API</title>

<body>
<div id="app-container">

</div>	

<script type="text/template" id="menu-add">
<div>
		<form id="add-menu">
		<label for="title">Title:</label><input placeholder="Type the item title" type="textifield" name="title" id="title" />
		<input type="submit" value="Add Menu" name="add-menu" class="add-menu" />
		</form>
</div>
</script>

<script type="text/template" id="item-add">
	<form id="add-form" >
		<label for="title">Title:</label><input placeholder="Type the item title" type="textifield" name="title" id="title" />
		<label for="description">Description:</label><input placeholder="Type the item description" type="textifield" name="description" id="title" />
		<label for="price">Price:</label><input type="textifield" name="price" placeholder="Type the item price" id="price" />
		<input type="submit" value="Add item" name="add-item" class="add-item" />
	</form>
</script>

<script type="text/template" id="menu">
	<span style="font-weight:bold"><%= title %></span>
</script>

<script type="text/template" id="menu-item">
		
		<span><%= title %></span> 
		<span><%= description %></span> 
		<span><%= price %></span> 
		<span><%= addon %></span> 
		<br/>
</script>

<script>
var Kitch = Kitch || {
	Views: {},
	Router: {},
	Models:{},
	Collections:{}
};

var template = function(id, model){
	return _.template($('#'+id).html(), model);
}

</script>
<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='js/underscore.js') }}"></script>
<script src="{{ url_for('static', filename='js/backbone.js') }}"></script>
<script src="{{ url_for('static', filename='js/models/menu.js') }}"></script>
<script src="{{ url_for('static', filename='js/views/menu.js') }}"></script>
<script src="{{ url_for('static', filename='js/views/app.js') }}"></script>
<script src="{{ url_for('static', filename='js/routers/router.js') }}"></script>
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>


</html>