<html !DOCTYPE>

<title>Kitch API</title>

<body>
<div id="app-container"></div>	
<div id="menu-container"></div>	

<script type="text/template" id="menu-template">
	Menu template
</script>

<script type="text/template" id="menu-item-template">
	<span style="font-weight:bold"><%= title %></span>

	<span><br/>
	<% _.each(items, function(item) { %>  
		
		<span><%= item.title %></span> <br/>
		<span><%= item.description %></span> <br/>
		<span><%= item.price %></span> <br/>


	<% }); %>
	</span>
</script>

<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='js/underscore.js') }}"></script>
<script src="{{ url_for('static', filename='js/backbone.js') }}"></script>
<script src="{{ url_for('static', filename='js/models/menu.js') }}"></script>
<script src="{{ url_for('static', filename='js/views/menu.js') }}"></script>
<script src="{{ url_for('static', filename='js/views/app.js') }}"></script>
<script src="{{ url_for('static', filename='js/routers/router.js') }}"></script>
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>


</html>